/* @import url('https://fonts.googleapis.com/css2? family= Roboto:wght@400;500 & display=swap'), */

html, body {
    margin: 0;
    padding: 0;
    font-family: Roboto, arial, sans-serif;
  }
.blackHeart{
    width:30px;
}
/* HEADER */
header{
    margin: 0 20px;
    font-size: 0.7em;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header ul li{
    align-items: center;
    list-style-type: none;
    display: inline;
    font-weight: bold;
    margin-left: 5px;
}
header a{
    text-decoration: none;
    color: black; 
}
header a:hover{
    text-decoration: underline;
}
.search{
    display: flex;
    align-items: center;
    justify-content: space-between;
     
}
.search img{
    width:40px;
}
input[type=search] {
    background-color: #F2F2F2;
    border: none;
    padding: 2px;
    display: inline;
        
}
.search button{
    background-color: #fb3b49;
    border: none;
    color: white;
    margin-left: -4px;
    height: 20px;
}
.search button:hover{
    text-decoration: underline white;
}
.join-btn{
    border: 1px solid black;
    padding: 2px;
    margin: 0 10px;
}
.log-btn:hover{
    text-decoration: underline #fb3b49;
}
.join-btn:hover{
    background-color: #fb3b49;
    text-decoration: underline white;

}
/*  section presentation */
.presentation{
    background-color: #f8f4f4;
    
}
.presentation h1 {
    display: flex;
    font-weight: 900;
    font-size: xx-large;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    padding-top: 3rem;
}
.presentation p{
    width: 300px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    font-weight: 500;
}
.presentation .my-buttons{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}
.btn1{
    background-color: rgb(251, 59, 73);
    border: none;
    color:white;
    width: 200px;
    height:40px;
    font-weight: 700;
    box-shadow: 5px 5px #fad0d2;

}
.btn2{
    font-weight: 700;
    border: none;
    width: 200px;
    height:40px;
    margin-left: 15px;
    background: #fff;
}

/*  section explication */
.explication{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 30px;

}
.explication img{
    width:200px;
}
.explication h2{
    margin-top: 50px;
}
.explication mark{
    background: #ffebb5;
}
.explication p{
    width: 300px;
    justify-content: center;
}
/*  section details */

section.details{
    margin-top: 50px;
}
.my-articles{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.cards{
    width: 200px;
}
.cards img{
    width:30px;
}
.details h4{
    color:#fb3b49
}
.details button{
    background-color: #000;
    color: #fff;
    font-weight: 700;
    width: 250px;
    height: 30px;
    padding: 2px;
    margin: 20px 40%;
    box-shadow: 5px 5px #f8f4f4;

}


